.resetPasswordFieldHolder {
  background-color: #1d2333;
  border-radius: 18px;
  margin-top: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updateBtn {
  padding: 12px 16px;
  border-radius: 10px;
  color: #fff;
  border: none;
  width: 450px;
  margin: 15px auto;
  font-family: "RajdhaniBold";
  background-color: #4ff461;
}

.updateBtn:hover {
  background-color: #69fc7a;
}
